[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gpg-agent
Comment=Secret key management for GnuPG
Exec=gpg-agent
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

